* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

.container {
  background-color: rgb(15, 92, 47);
  border-radius: 50px;
  width: 50vw;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 70px;
}

.desc-today {
  margin: 0 0 30px 0;
  text-transform: capitalize;
}

.subtitle {
  margin: 30px 0 5px 0;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: none;
}

.location a {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: rgb(223, 223, 223);
}

a:hover {
  text-decoration: underline;
  color: white;
}

.forecast {
  background-color: azure;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(128, 130, 209);
  background-color: none;
  margin: 0px;
}

.date,
.desc,
.morn-temp,
.even-temp {
  padding: 0 5px;
}

.date {
  width: 40%;
  text-transform: capitalize;
}

.desc {
  flex: 1;
  background-color: none;
}

.even-temp {
  opacity: 50%;
  font-size: 75%;
  background-color: none;
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  body {
    background-color: none;
  }
  .container {
    margin: 20px auto;
    width: 80%;
  }
  .date {
    width: 50%;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  body {
    background-color: none;
  }
  .container {
    margin: 10px auto;
    width: 95%;
    height: 95%;
    padding: 20px;
  }
  .date {
    width: 50%;
  }
}
